<%# REQ: post, comments %>

<div class="post__comments">
  <p><%= comments.length + '件のコメント' %></p>
  <div class="comment__form">
    <form action=<%= `/posts/${post.id}/comments` %> method="post">
      <textarea
        name="comment[content]"
        id="comment_content"
        class=""
        placeholder="&#xf15c コメントをかく"
        ></textarea>
      <input 
        type="submit" 
        class="comment__form__submit-create"
        value="コメント"
        >
    </form>
  </div> <ul class="comments">
    <% if (typeof comments !== 'undefined' && comments.length > 0) { %>
      <% comments.forEach((comment, i) => { %>
        <%- include('./_comment', { post: post, comment: comment }) %>
      <% }) %>
    <% } %>
  </ul>
</div>
