<div class="site__notfound">
  <h1>
    <i class="fa-solid fa-poo"></i>
  </h1>
  <article>
    <h2>お探しのページは見つかりませんでした。</h2>
    <p>
      あなたがアクセスしようとしたページは削除されたかURLが変更されているため、見つけることができません。
    </p>
  </article>
</div>
