<div class="site__index">
  <section class="hero">
    <h1>いっとくのブログサイト</h1>
    <p>
      日々の出来事をブログに投稿しよう。<br />
      また、気になる記事があればコメントしてみよう
    </p>
    <ul>
      <a href="/posts/list">記事を見る</a>
      <a href="/posts/create">記事を書く</a>
    </ul>
  </section>
  <section class="whats-new">
  </section>
  <section class="open-source">
  </section>
</div>
