<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Blog web application">
  <meta name="keywords" content="ittoku-tech, Blog">
  <meta name="author" content="ittoku-ky73">
  <title><%= typeof title !=='undefined' ? title : '' %></title>
  <!-- normalize.css -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- fonts - Roboto -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!-- fonts - Noto Sans Japanese -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/f9b76f63aa.js" crossorigin="anonymous"></script>
  <!-- mycss -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/script.js" defer></script>
</head>

<body>
  <header class="site__header">
    <ul>
      <li>
        <a href="/">
          <img src="/images/logo.png" alt="logo" class="site__header__logo">
        </a>
      </li>
      <li>
        <form action="/search/result" method="get">
          <input
            type="search"
            name="q"
            placeholder="Search..."
          >
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </li>
    </ul>
  </header>
  <nav class="site__nav">
    <ul>
      <li><a href="/posts/list">記事一覧</a></li>
      <li><a href="/posts/create">記事を作る</a></li>
    </ul>
  </nav>
  <% if (typeof flash !== 'undefined') { %>
    <% if (Object.keys(flash).length) { %>
      <div class="site__flash">
        <% for (const key in flash) { %>
          <p class=<%= key %>>
            <%= flash[key] %>
          </p>
        <% } %>
      </div>
    <% } %>
  <% } %>
  <main class="site__main">
    <%- body %>
  </main>
  <footer class="site__footer">
    <div class="site__footer__sns">
      <h3>SNS</h3>
      <ul>
        <li><a href="https://github.com/ittoku-ky73">Github</a></li>
        <li><a href="https://crowdworks.jp/public/employees/4852074">Crowdworks</a></li>
      </ul>
    </div>
    <div class="site__footer__technology">
      <h3>Technology</h3>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li><a href="https://expressjs.com/">Node/Express</a></li>
        <li><a href="https://pixlr.com/">Pixlr (Logo)</a></li>
        <li><a href="https://fly.io/">Fly.io</a></li>
      </ul>
    </div>
    <div class="site__footer__copyright">
      <p>©︎ 2022 ittoku-tech.com</p>
    </div>
  </footer>
</body>

</html>
