.game {
  padding: 1rem;
  text-align: center;
}

.game .button {
  display: inline-flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-tertiary);
  margin: 0 auto;
}

.game .button button {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-text-secondary);
  background-color: var(--color-background-lightgray);
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
}

.game .button button:hover {
  opacity: 0.8;
}

.game .button svg {
  margin-right: 0.2em;
}

.game iframe {
  border: none;
}

.description {
  font-size: 0.9em;
  padding: 1rem;
}

.info {
  position: relative;
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.info::before,
.info::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
}

.info::before {
  border-top: 2px solid var(--color-border-primary);
  border-left: 2px solid var(--color-border-primary);
  border-top-left-radius: 0.5em;
  top: 0;
  left: 0;
}

.info::after {
  border-bottom: 2px solid var(--color-border-primary);
  border-right: 2px solid var(--color-border-primary);
  border-bottom-right-radius: 0.5em;
  bottom: 0;
  right: 0;
}

.info table {
  font-size: 0.8rem;
  line-height: 2;
}

.info table th {
  text-align: right;
}

.info table td {
  padding-left: 1em;
}
