:root {
	--color-bg-body: #F1F1F1;
	--color-bg-header: #262626;
	--color-bg-nav: #ADADAD;
	--color-bg-footer: #F1F1F1;
	--color-text-link-default: #3f3f3f;
	--color-text-link-hover: #0000ff;
	--color-border: #A0A0A0;
}

html {
  font-family: 'Noto Sans JP', sans-serif, 'FontAwesome';
  font-size: 16px;
}

body {
  background-color: var(--color-bg-body);
}

a[href*="https"]::after {
	content: '';
	position: relative;
	top: 0.4em;
	left: 0.2em;
	padding-left: 1.2em;
	background-image: url(/images/external-link.svg);
	background-size: 0.8em;
	background-repeat: no-repeat;
}

.site__header {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: var(--color-bg-header);
}

.site__header div {
  text-align: center;
}

.site__header__logo {
  width: 100%;
  max-width: 64px;
}

.site__nav {
  padding: 0.5rem 0;
  background-color: var(--color-bg-nav);
}

.site__nav ul {
  display: flex;
  gap: 0.2rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: scroll;
  /* hidden scrollbar  */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.site__nav ul::-webkit-scrollbar {
  display: none;
}

.site__nav ul li {
  display: inline;
}

.site__nav ul li:first-child {
  margin-left: 0.5rem;
}

.site__nav ul li a {
  color: #EE5145;
  outline: none;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid #EE5145;
  border-radius: 1rem;
  display: block;
  transition: all .3s;
}

.site__nav ul li a:link,
.site__nav ul li a:visited,
.site__nav ul li a:focus {
  background-color: #F1F1F1;
}

.site__nav ul li a:hover {
  background-color: #EE5145;
  color: white;
  border-color: white;
}

.site__nav ul li a:active {
  color: black;
}

.site__main {
  padding: 0.5rem;
  box-sizing: border-box;
  min-height: 50vh;
}

.site__footer {
  padding: 0.5rem;
  box-sizing: border-box;
}

.site__footer {
  display: grid;
  grid-template-areas:
    "sns technology technology"
    "copyright copyright copyright";
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  padding: 0 1rem;
  border-top: 1px solid var(--color-border);
  background-color: var(--color-bg-footer);
}

.site__footer ul {
  list-style-type: none;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.site__footer__sns {
  grid-area: sns;
}

.site__footer__technology {
  grid-area: technology;
  border-left: 1px solid var(--color-border);
  padding-left: 1rem;
}

.site__footer__copyright {
  grid-area: copyright;
  text-align: center;
  border-top: 1px solid var(--color-border);
}

.site__footer h2 {
  font-size: 1.2rem;
}

.site__footer a {
  text-decoration: none;
}

.site__footer a:link,
.site__footer a:visited,
.site__footer a:focus {
  color: var(--color-text-link-default);
}

.site__footer a:hover,
.site__footer a:active {
  color: var(--color-text-link-hover);
  text-decoration: underline;
}

.site__footer__copyright p {
  letter-spacing: 1px;
  word-spacing: 4px;
}

/**
 * Post
 */
.post__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.post__list div[id*="post_"] {
  padding: 1rem;
}

.post__list h2 {
  font-size: 1.2em;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__list a {
  outline: none;
  text-decoration: none;
}

.post__list a:link {
  color: black;
}

.post__list a:visited {
  color: #797979;
}

.post__list a:focus {
  border: 1.5px solid blue;
  border-radius: 0.2em;
}

.post__list a:hover {
  opacity: 0.5;
  text-decoration: underline;
}

.post__list a:active {
  opacity: 0.7;
}

.post__list p {
  font-size: 0.8em;
}

.post__detail {
  overflow: visible;
  overflow-wrap: break-word;
  background-color: white;
  border-radius: 0.2em;
}

.post__detail-wrapper {
  padding: 1rem;
}

.post__detail h1 {
  margin: 0;
  padding: 0.5em;
  padding-left: 16px;
}

.post__detail ul {
  font-size: 0.8em;
  color: gray;
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 0;
  padding: 0 0.5em;
  padding-left: 16px;
  list-style: none;
}

.post__detail article {
  padding: 1em;
  padding-top: 2em;
}

.post__links {
  width: 100%;
  max-width: 200px;
  border: 2px solid var(--color-border);
  border-radius: 0.5em;
  padding: 0.5em 0;
}

.post__links-wrapper {
  margin-top: 1rem;
}

.post__links h2 {
  font-size: 1.2em;
  margin: 0;
  padding-left: 0.5em;
}

.post__links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post__links ul li a {
  display: block;
  line-height: 2.5;
  color: black;
  padding-left: 1em;
  text-decoration: none;
  transition: all .3s;
}

.post__links ul li a:hover {
  color: darkgray;
  background-color: #ddd;
}
.post__links ul li a.update::before {
  color: blue;
  content: "\f01e";
  padding-right: 0.5em;
}

.post__links ul li a.delete::before {
  color: red;
  content: "\f057";
  padding-right: 0.5em;
}

.post__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1em;
}

.post__form-wrapper {
  padding: 1em;
}

.post__form h1 {
  text-align: center;
  margin: 0;
  line-height: 2;
}

.post__form form ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.post__form form input[type="text"] {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  height: 40px;
}

.post__form form textarea {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  min-height: 400px;
}

.post__form form input[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5em;
}

.post__form form input[type="submit"]:hover {
  background-color: whitesmoke;
}

.post__form form input[type="submit"]:active {
  background-color: black;
  color: white;
}

.post__errors ul {
  list-style: none;
  margin: 0;
  padding: 0.5em 1em;
  background-color: pink;
  color: red;
  border: 1px solid red;
  border-left-width: 4px;
  border-radius: 0.5em;
}

.post__errors ul li {
  line-height: 2;
}

.post__errors ul li::before {
  content: "\f00d";
  margin-right: 0.5em;
}

@media screen and (min-width: 768px) {
  .post__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1000px));
  }

  .post__form form input[type="submit"] {
    margin: 0 0 0 auto;
  }
}
