.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding: 0 0.5em;
  border-bottom: 1px solid black;
}

.toggleMenu {
  margin-left: auto;
}

.toggleMenu button {
  cursor: pointer;
  color: black;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  background: inherit;
}

.toggleMenu nav {
  position: absolute;
  width: 150px;
  top: 64px;
  right: 10px;
  background: white;
  border: 1px solid black;
  border-radius: 6px;
}

.toggleMenu nav:before,
.toggleMenu nav:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: auto;
}
.toggleMenu nav:before{
  top: -15px;
  right: 10px;
  border-style: solid;
  border-color: transparent transparent black transparent;
  border-width: 0 10px 15px 15px;
}
.toggleMenu nav:after{
  top: -14px;
  right: 10px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 0 10px 15px 15px;
  z-index: 1;
}

.toggleMenu nav ul {
  list-style: none;
  margin: 0;
  padding: 0.5em 0;
}

.toggleMenu nav ul a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
}

.toggleMenu nav ul a:link,
.toggleMenu nav ul a:visited,
.toggleMenu nav ul a:focus {
  color: black;
  background: inherit;
}

.toggleMenu nav ul a:hover {
  color: white;
  background: dodgerblue;
}

.toggleMenu nav ul a:active {
  opacity: 0.8;
}
