.searchForm form {
  font-size: 14px;
  position: relative;
}

.searchForm button {
  cursor: pointer;
  color: black;
  position: absolute;
  height: 100%;
  background: inherit;
  padding: 0;
  padding-left: 8px;
  padding-top: 1px;
  border: none;
}

.searchForm input {
  height: 100%;
  padding-left: 30px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  border: 1px solid black;
  border-radius: 4px;
}
