:root {
  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-text-link: #1e90ff;
  --color-text-code: #9aa5ce;
  --color-text-code-filename: #bac5ee;

  --color-background-primary: #ffffff;
  --color-background-secondary: #f5f5f5;
  --color-background-tertiary: #f0f0f0;
  --color-background-lightgray: #d3d3d3;
  --color-background-code: #1a1b26;
  --color-background-code-filename: #3a3b4b;

  --color-border-primary: #d8d8d8;

  --px-pc-main-max-width: 800px;
  --px-phone-main-max-width: 600px;
  --px-header-height: 64px;
}

html {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
}

main {
  min-height: 80vh;
}

hr {
  width: 90%;
  margin: 2rem auto;
  border-top: 1px solid var(--color-border-primary);
}

@media (min-width: 600px) {
  hr {
    width: 100%;
  }
}
