.main {
  line-height: 2;
  letter-spacing: 1px;
  word-spacing: 2px;
  max-width: var(--px-phone-main-max-width);
  margin: 0 auto;
}

.main h3 {
  font-size: 1rem;
}

.main h3 svg {
  margin-right: 0.5rem;
}

.main p {
  font-size: 0.8rem;
}

.about,
.myprofile {
  padding: 1rem;
}

.myprofile {
  text-align: center;
}

.myprofile img {
  width: 240px;
  height: 240px;
  border-radius: 14rem;
}

.myprofile h3,
.myprofile p {
  text-align: left;
}

.news {
  padding: 1rem;
}

.news h3 {
  padding-bottom: 0.5rem;
}

.news .list {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border-primary);
  width: 100%;
  max-height: 128px;
  overflow: scroll;
}

.news .list .item {
  font-size: 0.8rem;
  letter-spacing: 0px;
  word-spacing: 2px;
  line-height: 1.5;
  white-space: nowrap;
  padding: 0.2rem;
  border-bottom: 1px solid var(--color-border-primary);
}

.news .list .item:last-child {
  border-bottom: none;
}

.news .list .item .contents {
  color: var(--color-text-primary);
}

.news .list .item .createdAt {
  color: var(--color-text-secondary);
  margin-left: 0.25rem;
  line-height: 2;
}

.news .list .item .createdAt svg {
  margin-right: 0.25rem;
}

.docs {
  padding: 1rem;
}

.docs .list {
  display: flex;
  flex-wrap: wrap;
}

.docs .list .item {
  width: 100%;
  border-bottom: 1px solid var(--color-border-primary);
  padding: 1rem 0;
}

.docs .list .item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.docs .list .item .title {
  font-size: 1rem;
}

.docs .list .item .title a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-text-primary);
}

.docs .list .item .title a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.docs .list .item .description {
  font-size: 0.8rem;
  color: var(--color-text-secondary);
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.docs .list .item .date {
  font-size: 0.75rem;
  color: var(--color-text-secondary);
  word-spacing: 8px;
}

.docs .list .item .date svg {
  margin-right: 0.25rem;
}

.games {
  padding: 1rem;
}

.games .list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem 0;
}

/* .games .list .item {} */

.games .list .item .thumbnail {
  position: relative;
  padding-bottom: 80%;
}

.games .list .item .thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.games .list .item .title {
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.6;
}

.games .list .item .title a {
  color: black;
  text-decoration: none;
}

.games .list .item .title a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.games .list .item .description {
  font-size: 0.7em;
  line-height: 1.4;
}

.games .list .item .size {
  font-size: 0.7rem;
  line-height: 1.5;
  color: var(--color-text-secondary);
}

.games .list .item .date {
  color: var(--color-text-secondary);
}

.games .list .item .date p {
  font-size: 0.7rem;
  line-height: 1.5;
  white-space: nowrap;
}

.games .list .item .date svg {
  margin-right: 0.25rem;
}

@media (min-width: 600px) {
  .main {
    max-width: var(--px-pc-main-max-width);
  }

  .main br {
    display: none;
  }

  .profile {
    border: 1px solid var(--color-border-primary);
    padding: 1rem 1.5rem;
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .myprofile img {
    width: 120px;
    height: 120px;
  }

  .myprofile .text {
    border-left: 1px solid var(--color-border-primary);
    padding-left: 1rem;
  }

  .games .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.tools {
  padding: 1rem;
}

.tools .list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tools .list .item {
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  border: 1px solid var(--color-border-primary);
  border-radius: 0.5rem;
}

.tools .list .item .name a {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-text-link);
  text-decoration: none;
}

.tools .list .item .name a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tools .list .item .description {
  font-size: 0.8rem;
  color: var(--color-text-secondary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tools .list .item .createdAt {
  font-size: 0.8rem;
  color: var(--color-text-secondary);
}

.tools .list .item .createdAt svg {
  margin-right: 0.25rem;
}

@media (min-width: 800px) {
  .games .list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .games .list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
