.music {
  padding: 1rem;
}

.music .list {
  display: grid;
	grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
	gap: 0.5rem;
  padding: 1rem 0;
}

.music .list .item {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.5rem;
  border: 1px solid var(--color-border-primary);
  border-radius: 0.5rem;
}

.music .list .item .title {
  font-size: 1.0rem;
  color: var(--color-text-link);
  text-decoration: underline;
  cursor: pointer;
}

.music .list .item .title svg {
	font-size: 0.8rem;
	margin-right: 0.5rem;
}

.music .list .item .artist {
  font-size: 0.8rem;
  color: var(--color-text-primary);
}

.music .list .item .createdAt {
	font-size: 0.8rem;
	color: var(--color-text-secondary);
}

.music .list .item .references {
	font-size: 0.8rem;
	padding-left: 0.5rem;
}

.music .list .item .references summary {
	color: var(--color-text-primary);
}

.music .list .item .references summary::marker {
	color: var(--color-text-secondary);
}

.music .list .item .references a {
	display: list-item;
	list-style-type: disc;
	color: var(--color-text-link);
	line-height: 2;
	margin-left: 1rem;
}

.music .list .item .references a::marker {
	color: var(--color-text-secondary);
}

.music .search {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  border: 1px solid var(--color-border-primary);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.music .search h4 {
  font-size: 1rem;
}

.music .search h4 svg {
  margin-right: 0.5rem;
}

.music .search .form {
  display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.music .search .form div {
  display: flex;
  align-items: center;
}

.music .search .form input,
.music .search .form select {
  font-size: 1rem;
  letter-spacing: 1px;
  width: 200px;
  height: 24px;
  border: 1px solid var(--color-border-primary);
  padding-left: 0.5rem;
}

.music .search .form select:has(option:checked[value=""]) {
  color: var(--color-text-secondary);
}

@media (min-width: 600px) {
  .music .search .form input,
  .music .search .form select {
    font-size: 0.8rem;
  }
}

.music .link {
  font-size: 0.8rem;
  margin-left: 1rem;
}

.music .link a {
  color: var(--color-text-secondary);
  text-decoration: none;
}

.music .link a:hover {
  color: var(--color-text-link);
  text-decoration: underline;
}
