<%# Req: post %>

<div class="post__links-wrapper">
  <div class="post__links">
    <h2><i class="fa-regular fa-newspaper"></i></h2>
    <hr>
    <ul>
      <li><a href=<%= '/posts/' + post.id + '/update' %> class="update">更新する</a></li>
      <li>
        <form action=<%= `/posts/${post.id}/delete` %> name="post_delete" method="post">
          <input type="hidden" name="post[id]" value=<%= post.id %>>
          <a href="javascript:post_delete.submit()" class="delete">削除する</a>
        </form>
      </li>
    </ul>
  </div>
</div>
