<div class="post__list">
  <h1><i class="fa-regular fa-newspaper"></i> List</h1>
  <p>Post: <%= post_count %></p>
  <div class="posts">
    <% posts.forEach(post => { %>
      <%- include('./_post.ejs', { post: post }) %>
    <% }) %>
  </div>
  <%- include('../modules/pager.ejs', { total_count: post_count }) %>
</div>
