.main {
  background-color: var(--color-background-secondary);
  margin: 0 auto;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.date {
  font-size: 0.8rem;
  color: var(--color-background-secondary);
  text-align: center;
  letter-spacing: 1px;
}

.content_html {
  border: 1px solid var(--color-border-primary);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--color-background-primary);
}

.content_html p {
  font-size: 0.9rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.content_html img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .main {
    max-width: var(--px-pc-main-max-width);
  }
}
