.main {
  background-color: var(--color-background-secondary);
  margin: 0 auto;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1rem;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.date {
  font-size: 0.8rem;
  color: var(--color-background-secondary);
  text-align: center;
  letter-spacing: 1px;
}

.content_html {
  border: 1px solid var(--color-border-primary);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--color-background-primary);
}

.content_html h1 {
  font-size: 1.5rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-border-primary);
  margin-bottom: 1rem;
}

.content_html h2 {
  font-size: 1.3rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-border-primary);
  margin-bottom: 1rem;
}

.content_html h3 {
  font-size: 1.1rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.content_html h4 {
  font-size: 1rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.content_html h5 {
  font-size: 0.9rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.content_html h6 {
  font-size: 0.8rem;
  color: var(--color-text-secondary);
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.content_html p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.content_html blockquote {
  border-left: 4px solid var(--color-border-primary);
  padding-left: 1rem;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
}

.content_html > ul,
.content_html > ol {
  margin-bottom: 1rem;
}

.content_html ul,
.content_html ol {
  padding-top: 0.5rem;
  padding-left: 1.5rem;
}

.content_html li {
  margin-bottom: 0.5rem;
}

.content_html pre {
  color: var(--color-text-code);
  background-color: var(--color-background-code);
  padding: 1rem;
  overflow-x: auto;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.content_html code {
  font-size: 0.9rem;
  background-color: var(--color-background-tertiary);
  padding: 0.1rem 0.25rem;
  border-radius: 0.25rem;
}

.content_html pre code {
  color: var(--color-text-code);
  background-color: var(--color-background-code);
}

.content_html table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid var(--color-border-primary);
  margin-bottom: 1rem;
}

.content_html th,
.content_html td {
  padding: 0.5rem;
  border: 1px solid var(--color-border-primary);
}

.content_html th[align="right"],
.content_html td[align="right"] {
  text-align: right;
}

.content_html a {
  color: var(--color-text-link);
  text-decoration: none;
  overflow-wrap: break-word;
}

.content_html a:hover {
  text-decoration: underline;
}

.content_html img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .main {
    max-width: var(--px-pc-main-max-width);
    margin: 1rem auto;
  }
}
